
.comments {
  display: flex;
  flex-direction: column;
}

.comment {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
}

.comment-self {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
}

.comment-child .comment-self {
  border-left-width: 4px;
  border-left-style: solid;
}

.comment-child {
  margin-left: 20px;
}

.comment-author {
  font-weight: bold;
}

.comment-separator {
  width: 100%;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: 20px;
}