
.comments {
  display: flex;
  flex-direction: column;
}

.comment {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-color: gray;
  border-width: 1px;
  border-style: groove;
  padding: 10px 10px 10px 10px;
}

.comment-child {
  margin-left: 20px;
}

.comment-author {
  font-weight: bold;
}

